// .active.sidebar-link {
//   color: white !important
//   background: #0083ab
// }

a.sidebar-link  {
  color: #999  
}
.sidebar-heading {
  color: #aaa  
}

.sidebar-heading.open {
  color: #0083ab
}

table * {
  font-size: 12px
  vertical-align: top
}

thead {
  background: #eaecef
}
  

.theme-container.site-home-page-class 
  .page
    padding-bottom: 0
  .home
    margin-top 0
    padding 0 
    max-width 960px
    margin 0px auto
    display block
    .hero
      text-align center
      img
        max-width: 100%
        max-height 280px
        display block
        margin 3rem auto 1.5rem
      h1
        font-size 3rem
      h1, .description, .action
        margin 1.8rem auto
      .description
        max-width 35rem
        font-size 16px
        line-height 16px
        color lighten($textColor, 40%)
      .action-button
        cursor pointer
        display inline-block
        font-size 1rem
        color #fff
        background-color $accentColor
        padding 0.8rem 1.6rem
        border-radius 4px
        transition background-color .1s ease
        box-sizing border-box
        border-bottom 1px solid darken($accentColor, 10%)
        &:hover
          background-color lighten($accentColor, 10%)
