<template>
  <div class="download-page-as-pdf">
    <a :href="pdfLink">
      Download this page!
    </a>
  </div>
</template>

<script>
function swapSeparators(path, sep){
  return path.split('/').join(sep)
}

function trimOffHtmlExt(path) {
  return path.replace('.html', '')
}

function getFilePath($page){
  const { regularPath, sortedPageMap, hostPdfAssetsBase } = $page

  const path = trimOffHtmlExt(regularPath)

  const pageIndex = sortedPageMap[path]
  const lowDashedUrl = swapSeparators(path, '_')
  const fileName = `${pageIndex}${lowDashedUrl}`
  const filePath = `${hostPdfAssetsBase}/${fileName}.pdf`
  return filePath
}

export default {
  name: 'DownloadPageAsPdf',
  computed: {
      pdfLink() { return getFilePath(this.$page) || '' },
  },
  mounted(){
    console.log('this.$page', this.$page)
  },
}
</script>

<style lang="stylus">
.download-page-as-pdf 
  margin: 5rem 0 0 0
  text-align: right
  a
    font-size: 14px
    color #fff
    background-color $accentColor
    padding 5px 10px
    border-radius 3px
    transition background-color .1s ease
    box-sizing border-box
    border-bottom 1px solid darken($accentColor, 10%)
    &:hover
      background-color lighten($accentColor, 10%)
</style>
